<div class="container">
  <div class="jumbotron">
    <h1>KIT Modulhandbuch Master Informatik <small>Work In Progress</small></h1>
    Mit diesem Tool sollst du später einmal deinen Master-Studiengang in Informatik am KIT leichter planen können.
    Zur Zeit befindet es sich in der Entwicklung und ist weder sehr ausgereift noch sehr stabil.
    Wenn du willst, kannst du unter <a href="#/plan">Plan</a> anschauen, was schon funktioniert.
  </div>
  <ul>
  	<li ng-repeat="specialization in handbook.specializations | orderDictBy:specIdAsInt" ng-init="specIdx = $index; specToggleId = 'module-list-' + specIdx">
  	  {{specialization.$key}}: {{specialization.name}}
  	  <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#{{specToggleId}}">{{specialization.moduleIds.length}}</button>
  	  <ul class="collapse" id="{{specToggleId}}">
  	  	<li ng-repeat="moduleId in specialization.moduleIds" ng-init="modIdx = $index; modToggleId = 'course-list-' + specIdx + '-' + modIdx; module = handbook.modules[moduleId]">
  	  	  {{module.name}} [{{moduleId}}] ({{module.ects}})
  	  	  <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#{{modToggleId}}">{{module.courseIds.length}}</button>
  	  	  <ul class="collapse" id="{{modToggleId}}">
  	  	    <li ng-repeat="courseId in module.courseIds" ng-init="course = handbook.courses[courseId]">
  	  	      {{course.name}} [{{courseId}}] ({{course.ects}})
  	  	    </li>
  	  	  </ul>
  	  	</li>
  	  </ul>
  	</li>
  </ul>
</div>
